<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MApi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MApiSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8118BFC1AA2BD2D00910C76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8A9D6C21A7DDBE200D21726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8A9D6CD1A7DDBE200D21726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93092051B16D9A50044700F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E930921D1B16D9A50044700F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E937A01A1AA43D2D00E75BB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E937A0321AA43D2D00E75BB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E94934981A807DB700452DFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E94934B01A807DB800452DFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E98DD0131A7F513F0048E740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E98DD02B1A7F513F0048E740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9A56A091AB7C3A100350F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9A56A241AB7C3A100350F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9A56AA31AB7D5CD00350F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9A56AAD1AB7D5CD00350F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9A82E3C1B146C530011A2A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
